{% extends "layouts/new_base.html" %}

{% block title %} Upload Recipe {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>上傳新的注意事項</h5>
                                            {% if errMsg != None %}
                                                <small class="form-text text-danger">
                                                    {{errMsg}}
                                                </small>
                                            {% endif %}
                                            {% if Msg != None %}
                                                <small class="form-text text-success">
                                                    {{Msg}}
                                                </small>
                                            {% endif %}
                                        </div>
                                        <form method="POST" action="{% url 'upload_precaution' %}" enctype="multipart/form-data">{%csrf_token%}
                                            <div class="card-block">
                                                <div class="row">

                                                    <div class="col-sm-6 mb-4">
                                                        <label><b>名稱</b></label>
                                                        {{form.name}}
                                                        <span class="text-error">{{ form.name.errors }}</span>
                                                    </div>

                                                    <div class="col-sm-6 mb-4">
                                                        <label><b>類型</b></label>
                                                        {{form.type}}
                                                        <span class="text-error">{{ form.type.errors }}</span>
                                                    </div>
                                                    <div class="col-sm-6 mb-4">
                                                        <label><b>封面圖片(可選) (<1Mb) <br>(建議:180px * 120px)</b></label>
                                                        {{ form.cover }}
                                                        <span class="text-error">{{ form.cover.errors }}</span>
                                                    </div>
                                                    <div class="col-sm-6 mb-4">
                                                        <label>檔案(<10Mb)<br>(pdf/ mp4/ mov)</label>
                                                        {{ form.file }}
                                                        <span class="text-error">{{ form.file.errors }}</span>
                                                    </div>
                                                    <div class="col-sm-12 mb-2">
                                                        <label>描述/備註(可選)</label>
                                                        {{form.description}}
                                                        <span class="text-error">{{ form.description.errors }}</span>
                                                    </div>

                                                    <div class="col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <input type = 'submit' class="btn btn-primary" value="Submit"></input>
                                                            <a href="{% url 'upload_precaution' %}" class="btn btn-light">Cancel</a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
